h2 {
 text-decoration: underline;
 font-family: 'Mako', sans-serif;
 font-size: 34px;
 padding: 15px;
 color: black;
 padding-top: 40px;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
.well {
  background-color: #3b5998;
  width: 100%;
}
p {
 font-family: 'Open Sans', sans-serif;
 font-size: 18px;
 padding-left: 15px;
 text-align: left;
 color: #3b5998;
 font-weight: 500;
 }
.link {
  list-style: none;
  padding: 15px;
}
img {
  border-radius: 35px;
  padding: 20px;
}
li {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #3b5998;
}
body {
  background-color: #dfe3ee;
}
.contact {
  color: white;
}

.header {
  color: white;
  position: absolute;
  right: 15px;
  top: 20px;
  display: inline;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
}

#hobbies {
  font-weight: bold;
  font-size: 18px;

}
.email {
  position: absolute;
  top: 100px;
  right: 15px;
}
a:link {
  color: #2200CC;
}
a:visited {
  color: green;
}
.projects {
  margin-top: 65px;
}
.right-col {
  margin-left: 40px;
}
