h2 {
 text-decoration: underline;
 font-family: sans-serif;
 font-size: 34px;
 padding: 15px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: monospace;

}
p {
 font-family: sans-serif;
 font-size: 18px;
 padding-left: 15px;
 text-align: left;
 }
.link {
  list-style: none;
  padding: 15px;
}
img {
  border-radius: 25px;
  padding: 15px;
}
li {
font-size: 18px;
}
body {
  background-color: #e1f7d5;
}
