h2 {
 text-decoration: underline;
 font-family: sans-serif;
 font-size: 34px;
}

h1 {
  text-align: center;

}
p {
 font-family: sans-serif;
 font-size: 16px;
 }
.link {
  list-style: none;
  padding: 10px;
}
img {
  float: right;
  align-items: center;
}
